#https://github.com/marketplace?type=actions documentation
#https://github.com/actions/checkout#usage
#https://docs.github.com/en/rest/repos/repos#create-a-repository-dispatch-event
#generate token: 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

#{
#    "event_type": "build",
#    "client_payload": {
#        "env": "production"
#    }
#}
name: Actions Workflow
#on: [push, pull_request]
on: 
  pull_request:
  #schedule:
  #  - cron: "0/5 * * * *"
  repository_dispatch:
    types: [build]
jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - name: payload
        run: echo ${{ github.event.client_payload.env }}
      - name: Simple JS action
        id: greet
        uses: actions/hello-world-javascript-action@v1.1
        with:
          who-to-greet: Yassine
      - name: Log Greeting time
        run: echo "${{ steps.greet.outputs.time }}"
      - name: List Files
        run: |
          pwd
          ls -a
          echo $GITHUB_SHA
          echo $GITHUB_REPOSITORY
          echo $GITHUB_WORKSPACE
          echo "${{ github.token }}"
      #   git clone git@github:$GITHUB_REPOSITORY
      #   git checkout $GITHUB_SHA
          
      - name: Checkout
        uses: actions/checkout@v1
      - name: List files after checkout
        run: |
          pwd
          ls -a
