#https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#filter-pattern-cheat-sheet
name: Filtering Actions Workflow
on:
  push:
    branches:
      - 'feature/*'
jobs:
  filter-branch:
    runs-on: ubuntu-latest
    steps:
      - name: echo a string
        run: echo "Hello World test"
